<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>


<body>
    <img src="./images/logo-mercado-liebre.svg" width= "360" alt=>

    <br>
    <p>Lugar para poner barra de busqueda</p>
    <br>

    <p>Compra en cuotas y sin tarjeta de credito</p>

    <ul>
        <li>Ofertas</li>
        <li>Tiendas Oficiales</li>
        <li>Vender</li>
        <li>Ayuda</li>
    </ul>

    <ul>
        <li>Crea tu cuenta</li>
        <li>Ingresá</li>
        <li>Mis compras</li>
    </ul>

    <img src="./images/img-home-banner.jpg" width= "360" alt="">
    <br>
    <h2>Basado en tu última visita</h2>
    <br>
    <img src="./images/img-cafetera-moulinex.jpg" width= "360" alt="">
    <br>
    <p>$6.770</p>
    <p>40% off</p>
    <p>Cafetera Moulinex</p>
    <br>
    <img src="./images/img-macbook-pro-2019.jpg" width= "360" alt="">
    <br>
    <p>$230.000</p>
    <p>20% off</p>
    <p>MacBook Pro 2019</p>
    <br>
    <img src="./images/img-samsung-galaxy-s10.jpg" width= "360" alt="">
    <br>
    <p>$70.500</p>
    <p>10% off</p>
    <p>Samsung Galaxy S10</p>
    <br>
    <img src="./images/img-tv-samsung-smart.jpg" width= "360" alt="">
    <br>
    <p>$23.200</p>
    <p>5% off</p>
    <p>SmartTv Samsung 43"</p>
    <br>
    <h2>Sección de Ofertas</h2>
    <br>
    <img src="./images/img-cafetera-moulinex.jpg" width= "360" alt="">
    <br>
    <p>$6.770</p>
    <p>40% off</p>
    <p>Cafetera Moulinex</p>
    <br>
    <img src="./images/img-macbook-pro-2019.jpg" width= "360" alt="">
    <br>
    <p>$230.000</p>
    <p>20% off</p>
    <p>MacBook Pro 2019</p>
    <br>
    <img src="./images/img-samsung-galaxy-s10.jpg" width= "360" alt="">
    <br>
    <p>$70.500</p>
    <p>10% off</p>
    <p>Samsung Galaxy S10</p>
    <br>
    <img src="./images/img-tv-samsung-smart.jpg" width= "360" alt="">
    <br>
    <p>$23.200</p>
    <p>5% off</p>
    <p>SmartTv Samsung 43"</p>
    <br>
</body>

<footer>
    <h2>Pagá con tarjeta o en efectivo</h2>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    <h2>Envío gratis desde $ 2.500</h2>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    <h2>Seguridad, de principio a fin</h2>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
    <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
</footer>
</html>