<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<header>
    <img src="./images/logo-mercado-liebre.svg" width= "360" alt=>

    <br>
    <h3>Lugar para poner barra de busqueda</h3>
    <br>

    <h3>Compra en cuotas y sin tarjeta de credito</h3>

    <ul>
        <li>Ofertas</li>
        <li>Tiendas Oficiales</li>
        <li>Vender</li>
        <li>Ayuda</li>
    </ul>

    <ul>
        <li>Crea tu cuenta</li>
        <li>Ingresá</li>
        <li>Mis compras</li>
    </ul>

</header>

<body>
    <img src="./images/img-home-banner.jpg" width= "360" alt="">
    <br>
    <h2>Basado en tu última visita</h2>
    <br>
    <img src="./images/img-cafetera-moulinex.jpg" width= "360" alt="">
    <br>
    <h4>$6.770</h4>
    <h4>40% off</h4>
    <h4>Cafetera Moulinex</h4>
    <br>
    <img src="./images/img-macbook-pro-2019.jpg" width= "360" alt="">
    <br>
    <h4>$230.000</h4>
    <h4>20% off</h4>
    <h4>MacBook Pro 2019</h4>
    <br>
    <img src="./images/img-samsung-galaxy-s10.jpg" width= "360" alt="">
    <br>
    <h4>$70.500</h4>
    <h4>10% off</h4>
    <h4>Samsung Galaxy S10</h4>
    <br>
    <img src="./images/img-tv-samsung-smart.jpg" width= "360" alt="">
    <br>
    <h4>$23.200</h4>
    <h4>5% off</h4>
    <h4>SmartTv Samsung 43"</h4>
    <br>
    <h2>Sección de Ofertas</h2>
    <br>
    <img src="./images/img-cafetera-moulinex.jpg" width= "360" alt="">
    <br>
    <h4>$6.770</h4>
    <h4>40% off</h4>
    <h4>Cafetera Moulinex</h4>
    <br>
    <img src="./images/img-macbook-pro-2019.jpg" width= "360" alt="">
    <br>
    <h4>$230.000</h4>
    <h4>20% off</h4>
    <h4>MacBook Pro 2019</h4>
    <br>
    <img src="./images/img-samsung-galaxy-s10.jpg" width= "360" alt="">
    <br>
    <h4>$70.500</h4>
    <h4>10% off</h4>
    <h4>Samsung Galaxy S10</h4>
    <br>
    <img src="./images/img-tv-samsung-smart.jpg" width= "360" alt="">
    <br>
    <h4>$23.200</h4>
    <h4>5% off</h4>
    <h4>SmartTv Samsung 43"</h4>
    <br>
</body>

<footer>
    <h2>Pagá con tarjeta o en efectivo</h2>
    <h3>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</h3>
    <h2>Envío gratis desde $ 2.500</h2>
    <h3>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</h3>
    <h2>Seguridad, de principio a fin</h2>
    <h3>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</h3>
    <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
</footer>
</html>