<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <img src="./images/logo-mercado-liebre.svg" width= "360" alt=>

    <br>
    <h4>Lugar para poner barra de busqueda</h4>
    <br>

    <h4>Compra en cuotas y sin tarjeta de credito</h4>

    <ul>
        <li>Ofertas</li>
        <li>Tiendas Oficiales</li>
        <li>Vender</li>
        <li>Ayuda</li>
    </ul>

    <ul>
        <li>Crea tu cuenta</li>
        <li>Ingresá</li>
        <li>Mis compras</li>
    </ul>

</header>

<body>
    

</body>
</html>