body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: center; 
    background-color: #ebebeb;
}
.main-header {
        background: rgb(234, 201, 38);
        padding: 20px;
}
main{
    text-align: center;
    display: block;
    flex-wrap: wrap;  
    justify-content: space-around;
}

footer{
    text-align: center;
    font-size: 2em;
    margin: auto;
}
.imagen{
    width: 200px;
  
}
.contenedor{
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
}

.caja{
    border: 1px solid transparent;
    background-color:white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 2px 2px 5px #999;
    padding: 15px;
}
.caja2{
    border-top: 1px solid #ebebeb;
    text-align: left;
}

.offers{
    font-size: 24px;
    display: flex;
}
.last-visit{
    font-size: 24px
}
.price{
    font-size: 18px;
}
.discount{
    font-size: 16px;
    color: rgb(57, 181, 74)
}
.description{
    font-size: 16px;
    display: none;
}
.burger-menu{
    background-color: #0044AA;
    color: #FFF;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.iconos-footer{
    width: 100px;
    margin-bottom: 10px;
    size: 200px;
    color: rgb(18, 89, 195);
}

.envio{
    color: rgb(57, 181, 74);
   
}

.last-visit{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.logo{
    width: 200px;
}

.copy-header{
    font-weight: 400;
    text-align: center;
}

.main-navbar{
    display: none;
}
.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-navbar a {
   display: inline-block;
   padding: 5px 0;
}
.banner{
    width: 50px; 
}
.titulo{
    text-align: center;
}
.envio{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(57, 181, 74);
    align-items: center;
    justify-content: center;
   margin-top: 1px;
}

@media(min-width: 768px){
    .top-bar{
        display: flex;
        justify-content: space-between;
    }
    .copy-header{
        max-width: 350px;
        text-align: right;
    }
    .burger-menu{
        display: none;
    }
    .main-navbar{
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar li{
        margin: 0 5px;
    }
    .contenedor{
        display: flex;
        width: 50vw;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .last-visit{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        
    }
    .description{
        font-size: 16px;
        display: flex;
    }
    
    
}

@media (min-width: 1200px) {
    .top-bar, .main-navbar{
        max-width:1200px;
        margin: auto;
    }
    .top-bar{
        align-items: center;
    }
    .logo{
        width: 250px;
    }
    .copy-header{
        margin:0px;
        max-width: none;
    }
    .main-navbar li{
        margin: 0 8px;
    }
    .main-navbar a{
        margin: 0 10px;
    }
    .main-navbar{
        margin-top: 30px;
    }
    .contenedor{
        display: flex;
        width: 50vw;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .tituloDeSecciones{
        text-align: center;
        margin: auto;
    }
    .caja{
        margin:50px;
    }
    .hola{
        display: block;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        align-content: center;
 
    }
}







