body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: auto;
    list-style: none;
}
header {
        background: rgb(234, 201, 38);
}


.titulares{
    font-size: 24px
    
}
.price{
    font-size: 18px;
}
.discount{
    font-size: 16px;
    color: rgb(57, 181, 74)
}
.description{
    font-size: 16px;
}
.burger-menu{
    margin: 20px 0px;
    width: 40px;
    height: 40px;
    background-color: #0044AA;
    color: #FFF;
    font-size: 20px;
    padding: 10px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

footer{
    text-align: center;
    font-size: 2em;
    margin: auto;
}
.iconos-footer{
    width: 100px;
    margin-bottom: 10px;
    size: 200px;
    color: rgb(18, 89, 195);
}

.envio{
    color: rgb(57, 181, 74);
}

article{
    max-width:100%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid black
}

main{
    max-width: 90%;
}




